.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.round {
  border-radius: 34px;
}

.toggle-input:checked + .slider {
  background-color: #5264ae;
}

.toggle-input:checked + .slider:before {
  transform: translateX(20px);
}
/* Update the styles */
.toggle-switch-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.toggle-label {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Add this line */
  width: 100%; /* Add this line to occupy the entire width */
  padding-right: 10px; /* Adjust the spacing between label and switch */
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
